.content{
    background: url(../images/冷启动页.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    buttom: 0;
    right: 0;
}
.content a{
   width: 146px;
   height: 25px;
   line-height: 20px;
   font-size: 12px;
   text-align: center;
   position: absolute;
   border-radius: 8px;
   color: #fff;
   border: 1px solid #fff;
   top: 53%;
   left: 30%;
   buttom: 0;
   right: 0;
   z-index: 1;
   opacity: 0;
}
/* .text{
    width: 146px;
    height: 25px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    position: absolute;
    border-radius: 8px;
    color: #fff;
    border: 1px solid #fff;
    top: 51%;
    left: 30%;
    buttom: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
} */