/* 全局控制 */
a{text-decoration: none;list-style: none;}
* {margin: 0;padding: 0;list-style: none;}
body{ color: #9e9e9e; font:12px/20px "Microsoft Yahei", arial,sans-serif; background: #f0f0f0 ; font-weight: normal; width:100%;height:100%;}
/* 重置默认样式 */
a{text-decoration: none;  outline:none;}
ul,ol{list-style:none;}
/* 设置网页样式 */
/* 标题: */
/* #contioner{
    width:100%;
    height:100%;
    position:relative;
} */
 #header{
    width:100%;
    height: 4.64rem;
    background-color:#118840;
    color:#fff;
    text-align:center;
    position:relative;
    position:fixed;
}
/* 标题:————定位 */
#header #dinwei{
    width:22%;
    color:#fff;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    position: absolute;
    top:15%;
    left:-1%;
}
.mui-bar-nav.mui-bar .mui-icon {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}
/* 标题:————二维码 */
#header .ewm{
    width: 32px;
    height: 32px;
    z-index: 11;
    background: url(../images/erwm.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    margin: 0 auto;
    top: 28%;
    left: 82%;
    buttom: 0%;
    right: 0%;
}
/* 定位-城市 */

#header a .city{
    font-size:12px;
    text-align:center;
}
/* 标题:————搜索框 */
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
    background-color: rgba(225, 225, 225, 0.5);
    border-color: rgba(225, 225, 225, 0.5);
    color: #fff;
    text-shadow: 0 1px 0 #f3f3f3;
}
#header .ui-input-search {
    width:65%;
    height: 2.493333rem;
    -webkit-border-radius:1.571428rem ;/*20*/
    border-radius:1.571428rem ;/*20*/
    position: absolute;
    top:22%;
    left:20%;
    background-color:rgba(225,225,225,0.4);
    margin-top:-2%;
    margin-left:20%;
}
.ui-input-text input, .ui-input-search input {
    margin: 0;
    min-height: 2.2em;
    text-align: left;
    border: 0;
    background: transparent none;
    -webkit-appearance: none;
    -webkit-border-radius: inherit;
    border-radius: inherit;
    color:#fff;
}
#header .ui-corner-all {
    width:65%;
    height: 2.493333rem;
    -webkit-border-radius:1.571428rem ;/*20*/
    border-radius:1.571428rem ;/*20*/
    position: absolute;
    top: 42%;
    left: 0%;
    background-color:rgba(225,225,225,0.4);
}
#header label{
    font-size:12px;
    position:absolute;
    right: -9%;
    top: 56%;
}
#header input{
    font-size:12px;
    position:absolute;
    right: -2%;
    top: -22%;
}
.ui-input-search:after {
    position: absolute;
    left: .3125em;
    top: 50%;
    margin-top: -7px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    filter: Alpha(Opacity=50);
    opacity: .5;
    color:#fff;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* 中间部分start---------------------------------------------------------------------------------------------------------------------------- */
#contioner #content{
   width:100%;
   height:100%; 
   position:absolute;
   top:-2%;
   left:0%;
   background:#efeeed;
}
.mui-title {
    font-size: 17px;
    font-weight: 500;
    line-height: 44px;
    position: absolute;
    display: block;
    width: 100%;
    margin: 0 -10px;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    color: #fff;
}
/* //////////////////////////////////////////////////////////////////////////////////////////// */
/* 中间部分 */
#contioner #content{
   width:100%;
   /* height:100%; */
   position:absolute;
   top:8%;
   left:0%;
   background:#efeeed;
}
/* 111111111111111111111111111 */
#content #text{
    width:100%;
    height:100%;
    padding: 0 0px 0px 0;
    background:#efeeed;
     /* margin-top:2%; */
}

#text li{
    width:98%;
    height:25%;
    background:#fff;
    padding: 0px 0px 0 0px;
    margin-top:4px;
    margin-left:4px;
    position:relative;
    
}
#text li a{
    width:100%;
    height:100%;
    position:absolute;
    top:0%;
    left:0%;   
    text-align:center;
    margin:0 auto;
    margin: 0px 0 0 0px;
    
}
#text li .a1{
    background:url(../images/3zy/1ly.jpg) no-repeat;
    background-size:100% 100%;
}
#text li .a2{
    background:url(../images/3zy/2ly.jpg) no-repeat;
    background-size:100% 100%;
}
#text li .a3{
    background:url(../images/3zy/3ly.jpg) no-repeat;
    background-size:100% 100%;
}
#text li .a4{
    background:url(../images/3zy/4ly.jpg) no-repeat;
    background-size:100% 100%;
}
#text li a div{
    max-width:80%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 10%;
    border:3px solid #fff;
    color:#fff;
}
#text li a div p{
    font-size:12px;
    color:#fff;
}


/* 中间部分 */
/* /////////////////////////////////////////////////////////////////////////////// */

/* 底部start */
#footer{
    bottom: 0;
    display: table;
    width: 100%;
    /* height: 4.64rem; */
    height: 0px;
    padding: 0;
    table-layout: fixed;
    border-top: 0;
    border-bottom: 0;
    webkit-box-shadow: 0 0 1px rgba(225, 225, 225, .85);
    box-shadow: 0 0 1px rgba(225, 225, 225, .85);
    background-color:#eeeeed;
}
.mui-bar-tab .mui-tab-item.mui-active {
    color:#118840;
}
/* 底部end */
.mui-media-body {
    font-size: 14px;
    line-height: 14px;
    display: block;
    width: 100%;
    height: 15px;
    margin-top: 8px;
    text-overflow: ellipsis;
    color: #333;
}
.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited {
    color: #929292;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background-color:rgba(225,255,225,0);
    border-color: #bbb;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
}