/* 标题: */
#contioner {
    width:100%;
    height:100%;
    background:#f4f4f5;
    position: relative;
}
#contioner #header{
    width:100%;
    height:45%;
    position: relative;
}
/* 标题:————定位 */
#header .glyphicon-menu-left{
    width:15%;
    color:#fff;
    background-color: rgba(225,225,225,0);
    border-color:  rgba(225,225,225,0);
    text-shadow: 0 1px 0  rgba(225,225,225,0);
    font-size:20px;
    position:absolute;
    top:10%;
    left:5%;
    
}

/* ////////////////////////////////////////////////////////////////////////////////////////////// */
#header #img1{
    width:100%;
    height:100%;
    position:absolute;
    top:0%;
    left:0%;
}
#header #img1 img{
    width:100%;
    height:100%;
}
#header #img2{
    width: 98%;
    height: 40%;
    position: absolute;
    top: 43%;
    left:1%;
}
#header #img2 h4{
    width: 100%;
    height: 30%;
    font-size:16px;
    color:#fff;
}
#header #img2 p{
    width: 100%;
    height: 70%;
    font-size:12px;
    color:#fff;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell {
    margin: 0;
    padding: 11px 15px;
    vertical-align: top;
    border-right: 0px solid #eee;
    border-bottom: 0px solid #eee;
}
#tubiao span{
    width:100%;
    height:5%;
    position:absolute;
    top: 6%;
    left: 4%;
    border-left: 0px solid #f2f2f2;
    color:#fff;
}
#tubiao span p{
    color:#008000;
}
#tubiao span p:before{
    margin-right:5px;
}
#tubiao li a div{
    font-size: 14px;
    line-height: 15px;
    display: block;
    width: 100%;
    height: 15px;
    margin-top: 17px;
    margin-left:5px;
    text-overflow: ellipsis;
    color: #fff;
    font-weight:600;
    text-align:center;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* 中间部分start---------------------------------------------------------------------------------------------------------------------------- */
#contioner #content{
   width:100%;
   height:100%; 
   position:absolute;
   top:-2%;
   left:0%;
   background:#efeeed;
}
#content #span{
    display:block;
    width:100%;
    height:7%; 
    padding: 0 0px 0px 0; 
    background:#fff;
    margin-top:2%;
    position: relative;
}
#content #span .jingc{
    display:inline-block;
    font-size:12px;
    margin-top:2%;
    margin-left:4%;
}
#content #span .quanb{
    display:inline-block;
    font-size:12px;
    margin-top:2%;
    margin-right:3%;
    position:absolute;
    top:0%;
    right:0%;
}
/* 2222222222222222222 */
#content #span1{
    display:block;
    width:100%;
    height:5%; 
    padding: 0 0px 0px 0; 
    background:#fff;
    margin-top:2%;
    position: relative;
}
#content #span1 .jingc1{
    display:inline-block;
    font-size:12px;
    margin-top:2%;
    margin-left:4%;
}
#content #span1 .quanb1{
    display:inline-block;
    font-size:12px;
    margin-top:2%;
    margin-right:3%;
    position:absolute;
    top:0%;
    right:0%;
}
#content #text{
    width:100%;
    height:13%;
    padding: 0 0px 0px 0;
}
/* #text1 .mui-grid-view{
    font-size: 0;
    display: block;
    width: 100%;
    padding: 0 0px 0px 0;
    white-space: normal;
} */
#text li{
    width:33%;
    height:100%;
    background:#fff;
    padding: 0px 0px 0 0px;
    margin-right:1px;
}
#text li a{
    width:100%;
    height:100%;
    position:absolute;
    top:0%;
    left:0%;
   text-align:center;
    margin:0 auto;
    margin: 0px 0 0 0px;
}
#text li a .glyphicon-flag{
    width: 30%;
    height: 28%;
    line-height:28%;
    position: absolute;
    top: 26%;
    left: 33%;
  
    font-size:16px;
}
#text li a .glyphicon-flag::before{
    /* width:10px;
    height:10px; */
    font-size:2.4rem;
    color:#049141;
}
/* .mui-icon-help:before{
    width:100%;
    height:100%;
} */
#text li a .div1{
    display: inline-block;
    width: 100%;
    height: 33%;
    position: absolute;
    top: 45%;
    left: 0%;
    font-size: 12px;
    color: #CCCCCC;
    text-align: left;
}
#text li a .div1 p:nth-of-type(1) {
    display:inline-block;
    position: absolute;
    top: 43%;
    left: 10%;
}
#text li a .div1 p:nth-of-type(2) {
    display:inline-block;
    position: absolute;
    top: 43%;
    left: 61%;
}
#text li a .glyphicon-heart{
    width: 30%;
    height: 28%;
    line-height:28%;
    position: absolute;
    top: 26%;
    left: 33%;
    font-size:16px;
}
#text li a .glyphicon-heart::before{
    /* width:10px;
    height:10px; */
    font-size:2.4rem;
    color:#e64437;
}
#text li a .div2{
    display:inline-block;
    width:100%;
    height:33%;
    position:absolute;
    top: 45%;
    left: 0%;
    font-size:12px;
    color:#CCCCCC;
    text-align:left;
}
#text li a .div2 p:nth-of-type(1) {
    display:inline-block;
    position: absolute;
    top: 43%;
    left: 10%;
}
#text li a .div2 p:nth-of-type(2) {
    display:inline-block;
    position: absolute;
    top: 43%;
    left: 61%;
}
#text li a .xiangg{
    font-size: 0px;
    line-height: 0px;
    display: block;
    width: 100%;
    height: 35%;
    position:absolute;
    top:41%;
    text-overflow: ellipsis;
    color: #333;
     text-align: center;
}
#text li a .xiangg p:nth-of-type(1){
    display:inline-block;
    position:absolute;
    top:-17%;
    left:41%;
    color:#fff;
     text-align: center;
     font-size:12px;
} 
#text li a .xiangg p:nth-of-type(2){
    width:100%;
    display:inline-block;
    position:absolute;
    top: 35%;
    right:-4%;
    color:#ccc;
    text-align: center;
    font-size:12px;
}
/* ///////////////////ul2 */
#content #text1{
    width:100%;
    height:13%;
    padding: 0 0px 0px 0;
}
/* #text1 .mui-grid-view{
    font-size: 0;
    display: block;
    width: 100%;
    padding: 0 0px 0px 0;
    white-space: normal;
} */
#text1 li{
    width:33%;
    height:100%;
    background:#fff;
    padding: 0px 0px 0 0px;
    margin-right:1px;
}
#text1 li a{
    width:100%;
    height:100%;
    position:absolute;
    top:0%;
    left:0%;
   text-align:center;
    margin:0 auto;
    margin: 0px 0 0 0px;
}
#text1 li a .glyphicon-flag{
    width: 30%;
    height: 28%;
    line-height:28%;
    position: absolute;
    top: 26%;
    left: 33%;
  
    font-size:16px;
}
#text1 li a .glyphicon-flag::before{
    /* width:10px;
    height:10px; */
    font-size:2.4rem;
    color:#049141;
}
/* .mui-icon-help:before{
    width:100%;
    height:100%;
} */
#text1 li a .div1{
    display: inline-block;
    width: 100%;
    height: 33%;
    position: absolute;
    top: 45%;
    left: 0%;
    font-size: 12px;
    color: #CCCCCC;
    text-align: left;
}
#text1 li a .div1 p:nth-of-type(1) {
    display:inline-block;
    position: absolute;
    top: 43%;
    left: 10%;
}
#text1 li a .div1 p:nth-of-type(2) {
    display:inline-block;
    position: absolute;
    top: 43%;
    left: 61%;
}
#text1 li a .glyphicon-heart{
    width: 30%;
    height: 28%;
    line-height:28%;
    position: absolute;
    top: 26%;
    left: 33%;
    font-size:16px;
}
#text1 li a .glyphicon-heart::before{
    /* width:10px;
    height:10px; */
    font-size:2.4rem;
    color:#e64437;
}
#text1 li a .div2{
    display:inline-block;
    width:100%;
    height:33%;
    position:absolute;
    top: 45%;
    left: 0%;
    font-size:12px;
    color:#CCCCCC;
    text-align:left;
}
#text1 li a .div2 p:nth-of-type(1) {
    display:inline-block;
    position: absolute;
    top: 43%;
    left: 10%;
}
#text1 li a .div2 p:nth-of-type(2) {
    display:inline-block;
    position: absolute;
    top: 43%;
    left: 61%;
}
#text1 li a .xiangg{
    font-size: 0px;
    line-height: 0px;
    display: block;
    width: 100%;
    height: 35%;
    position:absolute;
    top:26%;
    text-overflow: ellipsis;
    color: #333;
}
#text1 li a .xiangg p:nth-of-type(1){
    display:inline-block;
    position:absolute;
    top:0%;
    left:39%;
    color:#fff;
    font-size:12px;
} 
#text1 li a .xiangg p:nth-of-type(2){
     width:100%;
    display:inline-block;
    position:absolute;
    top: 53%;
    right:-4%;
    color:#ccc;
    font-size:12px;
}
/* 333333333333 */
#content #text3{
    width:100%;
    height:34%;
    position:relative;
    padding: 0 0px 0px 0;
}
#content #text3 li{
    width:100%;
    height:42%;
    padding: 0px 0px;
}
#content #text3 li a{
    width:100%;
    height:100%;
    padding: 0px 0px;
    margin:0px 0px
}
#content #text3 li a img{
    max-width: 11.173333rem;
    height:7rem;
}
#content #text3 li a div{
    width: 63%;
    height: 73%;
    display: inline-block;
    position: relative;
}
#content #text3 li a div .zhifei{
    width:20rem;
    height:2rem;
    font-size:14px;
    position: absolute;
    top:14%;
    left:2%;
    
}
#content #text3 li a div .zkek{
    width:20rem;
    height:2rem;
    /* position: relative; */
}
#content #text3 li a div .zkek p:nth-of-type(1){
    font-size:16px;
    color:#eb9f64;
    position: absolute;
    top: 77%;
    left:2%;
}
#content #text3 li a div .zkek p:nth-of-type(2){
    font-size:14px;
    color:#2a9c5a;
    position: absolute;
    top: 77%;
    right:2%;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#content #zhed1{
    width:100%;
    height:60%;
    margin-top:2%;
}
#zhed1 li{
    width:100%;
    height:14%;
    position: relative;
    overflow: hidden;
    padding: 0px 0px;
}
#zhed1 li > a{
    width:100%;
    height:50%;
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0px 0px;
    padding: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: inherit;
    position:absolute;
    left:5%;
    top:33%;
    color:#999999;
}

#zhed1 li .glyphicon-star:before{
    margin-right:10px;
}
#zhed1 li .glyphicon-star:after{
    margin-right:10%;
}
#zhed1 li .glyphicon-calendar:before{
    margin-right:10px;
}
#zhed1 li .glyphicon-calendar:after{
    margin-right:10%;
}
#zhed1 li .glyphicon-tasks:before{
    margin-right:10px;
}
#zhed1 li .glyphicon-tasks:after{
    margin-right:10%;
}
#zhed1 li .glyphicon-education:before{
    margin-right:10px;
}
#zhed1 li .glyphicon-education:after{
    margin-right:10%;
}
#zhed1 li .glyphicon-book:before{
    margin-right:10px;
}
#zhed1 li .glyphicon-book:after{
    margin-right:10%;
}
#zhed1 li .glyphicon-duplicate:before{
    margin-right:10px;
}
#zhed1 li .glyphicon-duplicate:after{
    margin-right:10%;
}
#zhed1 li .glyphicon-map-marker:before{
    margin-right:10px;
}
#zhed1 li .glyphicon-map-marker:after{
    margin-right:10%;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
#content #zhed2{
    width:100%;
    height:17%;
    margin-top:2%;
}
#zhed2 li{
    width:100%;
    height:50%;
    position: relative;
    overflow: hidden;
    padding: 0px 0px;
}
#zhed2 li > a{
    width:100%;
    height:50%;
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0px 0px;
    padding: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: inherit;
    position:absolute;
    left:5%;
    top:33%;
    color:#999999;
}
#zhed2 li .glyphicon-tags:before{
    margin-right:10px;
}
#zhed2 li .glyphicon-tags:after{
    margin-right:10%;
}
#zhed2 li .glyphicon-sd-video:before{
    margin-right:10px;
}
#zhed2 li .glyphicon-sd-video:after{
    margin-right:10%;
}
/* 中间部分end */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* --------------------------------------------------------------------------------------------------------------- */

 /* 底部start */
 #footer{
    bottom: 0;
    display: table;
    width: 100%;
    height: 4.64rem;
    height: 58px;
    padding: 0;
    table-layout: fixed;
    border-top: 0;
    border-bottom: 0;
    webkit-box-shadow: 0 0 1px rgba(225, 225, 225, .85);
    box-shadow: 0 0 1px rgba(225, 225, 225, .85);
    background-color:#eeeeed;
}
#footer ul{
    width: 100%;
    height:100%;
}
#footer ul li{
    width: 25%;
    padding: 5px;
    background: #fff;
    border-top: 1px solid #f5f5f5;
    float: left;
    text-align: center;
    font-size: 14px;
}
#footer ul li .mui-active {
    color:#118840;
}
/* 底部end */
#footer a .glyphicon-heart{
    font-size:20px;
    position: absolute;
    top: 40%;
    left: 17%;
    width: 5%;
    height: 24%;
    padding-top: 0;
    padding-bottom: 0;
    color:#e38464;
}
#footer a .span1{
    position: absolute;
    top: 40%;
    left: 34%;
    width: 5%;
    height: 24%;
    padding-top: 0;
    padding-bottom: 0;
}
#footer a .mui-icon-personadd{
    font-size:26px;
    position: absolute;
    top: 33%;
    left:27%;
    width: 5%;
    height: 24%;
    padding-top: 0;
    padding-bottom: 0;
    color:#e38464;
}
#footer a .span2{
    position: absolute;
    top: 39%;
    left: 46%;
    width: 5%;
    height: 24%;
    padding-top: 0;
    padding-bottom: 0;
}
#footer a .mui-icon-help{
    font-size:24px;
    position: absolute;
    top: 33%;
    left:40%;
    width: 5%;
    height: 24%;
    padding-top: 0;
    padding-bottom: 0;
    color:#e38464;
}
#footer a .span3{
    position: absolute;
    top: 39%;
    left:61%;
    width: 5%;
    height: 24%;
    padding-top: 0;
    padding-bottom: 0;
}
/* 底部end */
.mui-media-body {
    font-size: 14px;
    line-height: 14px;
    display: block;
    width: 100%;
    height: 15px;
    margin-top: 8px;
    text-overflow: ellipsis;
    color: #333;
}
.ui-btn {
    font-size: 16px;
    /* margin: .5em 0; */
    /* padding: .7em 1em; */
    display: block;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head+body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after, html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after, html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active {
    background-color:# fff;
    border-color:#fff;
    color:#fff ;
    text-shadow: 0 0px 0 #;
}
.ui-shadow {
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.15);
    -moz-box-shadow: 0 0px 0px rgba(0,0,0,.15);
    box-shadow: 0 0px 0px rgba(0,0,0,.15);
}